<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="false">

	<testsuites>
		<testsuite name="libraries-cms">
			<directory>../../../../tests/unit/suites/libraries/cms</directory>
		</testsuite>
		<testsuite name="libraries-legacy">
			<directory>../../../../tests/unit/suites/libraries/legacy</directory>
		</testsuite>
		<testsuite name="libraries-4.0">
			<directory>../../../../tests/unit/suites/libraries/src</directory>
		</testsuite>
	</testsuites>

</phpunit>
